<nav class="navbar-custom navbar">
  <div class="container-fluid">
    <div class="navbar-left">
      <button type="button" class="navbar-toggle pull-left collapsed"
              data-toggle="collapse" data-target="#navbar2"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-xs" href="#">My Website</a>
    </div>
    <div id="navbar1" class="navbar-right navbar-collapse collapse"
          aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name.split.first %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu hidden-xs">
            <li>
              <%= link_to 'Account', edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <%= react_component('Search') %>
    <div id="navbar2" class="navbar-right navbar-collapse collapse"
          aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li class="visible-xs">
          <%= link_to 'Account', edit_user_registration_path %>
        </li>
        <li class="visible-xs">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="header-filler"></div>
<% if notice %>
  <p class="alert alert-success alert-custom"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger alert-custom"><%= alert %></p>
<% end %>
