<nav class="navbar-custom navbar" id="logged-in-navbar">
  <div class="container">
    <div class="navbar-left">
      <button type="button" class="navbar-toggle pull-left collapsed"
              data-toggle="collapse" data-target="#navbar2"
              aria-expanded="false" aria-controls="navbar"
              style="margin-right: 0px;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'TrackYourTV', "/watch", class: "navbar-brand dissapearing-brand" %>
    </div>
    <div id="navbar1" class="navbar-right navbar-collapse collapse"
          aria-expanded="false" style="height: 1px; margin-right: -15px;">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle hidden-xs header-name-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name.split.first %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu hidden-xs">
            <li>
              <%= link_to 'Account', edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <%= react_component('SearchBoxContainer') %>
    <div id="navbar2" class="navbar-collapse collapse"
          aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="watch-link">
          <a href="/watch"
              class="special-link"
              data-name="watch"
              data-toggle="collapse"
              data-target=".navbar-collapse.in">
            Watch</a>
        </li>
        <li class="wait-link">
          <a href="/wait"
              class="special-link"
              data-name="wait"
              data-toggle="collapse"
              data-target=".navbar-collapse.in">
            Wait</a>
        </li>
        <li class="ignore-link">
          <a href="/ignore"
              class="special-link"
              data-name="ignore"
              data-toggle="collapse"
              data-target=".navbar-collapse.in">
            Ignore</a>
        </li>
        <li class="visible-xs">
          <%= link_to 'Account', edit_user_registration_path %>
        </li>
        <li class="visible-xs">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="header-filler"></div>
<% if !current_page?(edit_user_registration_path) %>
  <p class="alert hidden"><%= notice %><%= alert %></p>
<% else %>
  <% if notice %>
    <div class="alert alert-success alert-custom">
      <div class="container">
        <%= notice %>
      </div>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger alert-custom">
      <div class="container">
        <%= alert %>
      </div>
    </div>
  <% end %>
<% end %>

<script>
$(document).ready(function() {
  $('#logged-in-navbar').css('background-color', 'rgba(38, 38, 38, 1.0)');
  $(window).scroll(function() {
    if ($(this).scrollTop() > 20) {
      $('#logged-in-navbar').css('background-color', 'rgba(38, 38, 38, 0.8)');
    } else {
      $('#logged-in-navbar').css('background-color', 'rgba(38, 38, 38, 1.0)');
    }
  });
  window.onpopstate = function(e) {
    console.log('pop: ' + e.state);
    if (e.state == "watch" || e.state == "wait" || e.state == "ignore") {
      <% if current_page?("/watch") || current_page?("/wait") || current_page?("/ignore") %>
        ProgrammeActions.filterChange(e.state);
      <% else %>
        location.reload();
      <% end %>
    }
  };
  $('.special-link').click(function(e) {
    <% if current_page?("/watch") || current_page?("/wait") || current_page?("/ignore") %>
      if (e.which == 1) {
        e.preventDefault();
        var filter = e.target.getAttribute('data-name');
        history.pushState(filter, null, "/" + filter);
        ProgrammeActions.filterChange(filter);
      }
    <% end %>
  })
});
</script>
