<!DOCTYPE html>
<html>
  <head>
    <title>TvTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' >
  </head>

  <body>
    <noscript>
      <div style="border: 1px solid; padding: 10px">
        To use this website you'll need to enable JavaScript in your web browser.
      </div>
    </noscript>

    <% if user_signed_in? %>
      <%= render 'layouts/header_logged_in' %>
    <% else %>
      <%= render 'layouts/header_logged_out' %>
    <% end %>

    <% if current_page?(welcome_path) %>
      <%= yield %>
    <% else %>
      <div class="page-filler">
        <%= yield %>
      </div>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
